.prodCardGrandPar{
    margin: 0 5%;
}

.prodCardPar{
    margin-top: 5%;
    display: flex;
}

.prodCard{
    position: relative;
    align-items: stretch;
    margin: 3% 1%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.prodCard p:nth-child(1){
    font-weight: 500;
    font-size: 1.3rem;
}
.prodCard p:nth-child(2){
    opacity: 65%;
    line-height: 1.8rem;
}

.prodCard p{
    font-family: 'Inter';
    letter-spacing: 1.3px;
    margin-left: 3%;
    font-weight: 400;
    text-align: left;
}

/* .prodCard span{
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
} */
