*{
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
body{
    overflow-x: hidden;
    padding-top: 4rem;
}

nav{
    height: 4rem;
    width: 100vw;
    background-color: #fff;
    font-size: 0.9rem;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    position: fixed;
    top:0;
    z-index: 100000000000000;
}

.navArrow::after{
    font-size: 16px;
    content: '\2B9F';
}

.navBackArrow::after{
    font-size: 13px;
    content: '\2B9D';    
}

/*Styling logo*/
.logo{
    padding:0vh 1vw;
    text-align: center;
}
.logo img {
    height: 4rem;
    width: 20rem;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    color: black;
    text-decoration: none !important;
    margin: 0 0.2vw;
    font-family: 'Inter';
    /* padding: 8px 0; */
    font-size: 14.5px;
    font-weight: 600;
    opacity: 1;
    line-height: 1.3rem;
}
.nav-links li span{
    color: black;
    text-decoration: none !important;
    margin: 0 0.2vw;
    cursor: pointer;
    font-family: 'Inter';
    font-size: 14.5px;
    font-weight: 600;
    opacity: 1;
    line-height: 1.3rem;
}

.nav-links li {
    position: relative;
    color: black;
    margin-top: 1.5%;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    color: black;
    position: absolute;
    bottom: 0;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}


/*Styling Buttons*/

/* styling chevron */
.chever{
    position: absolute;
    top:-32%;
    left: 88%;
}

.chever2{
    position: absolute;
    right: -8%;
    bottom: 28%;
}

.uline li:not(:last-child) :hover{
    border-bottom: 1px solid black;
}

/* .uline li a :hover{
    border-bottom: none;
} */

.uProLine{
    font-size: 1.05rem;
}

.uProLine span{
    font-weight: 550;
}

.navHead{
    font-family: 'Inter';
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: 700;
    color:var(--blue);
    /* border-bottom: 0.01px solid rgb(232,236,238, 1) ; */
    border-top: 0.01px solid rgb(232,236,238, 1) ;
}

.navBItem{
    display: flex;
    font-family: 'Inter';
    padding: 8px 0;
    font-size: 14.5px;
    font-weight: 600;
    opacity: 1;
    line-height: 1.3rem;
}

.rowServicesBorder{
    border-bottom: 1px solid rgba(211, 211, 211, 0.4);
    /* border: 2px solid red; */
}


.navBItem:hover{
    /* text-decoration: underline;
    text-underline-offset: 6px; */
    padding-left: 5%;
    opacity: 1.2;
    scale: 1;
    transform-origin: left;
    color: rgb(51, 157, 238);
    background-color: rgba(211, 211, 211, 0.15);
    transition-duration: 660ms;
}

.Hamberger{
    box-shadow:  inset -1.5px -1.5px 5px rgba(0, 0, 0, 0.06),
        inset 1.5px 1.5px 5px rgba(0, 0, 0, 0.06);
    border-radius: 20% ;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

button:focus { outline: none !important;}


.MyNav .NavLinks{
    display: none;
    
}

@media (max-width: 1200px){
    .MyNav .Navbar{
        display: none;
    }
    .NavContainer{
        overflow-y: auto;
    }
    .MyNav .NavLinks 
    {
        display: flex;
    }
    .MyNav .NavLinks .Nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between ;

    }
    .MyNav .NavLinks .Hamberger{
        position: absolute;
        right: 3%;
        top: 5%;
        cursor: pointer;
        z-index: 1000;
        
    }
    .MyNav .NavLinks .NavContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 30%;
        background-color: white;
        
    }
    .MyNav .NavLinks .NavContainer .Navbar{
        display: block;
        flex-direction: column;
        height: 80%;
    }
    .MyNav .NavLinks .NavContainer .Navbar div{
        /* border: 1px solid red; */
        margin: 7% 10%;
        font-size: 1rem;
        color: #000000;
       
        text-align: left;
    }
    .MyNav .NavLinks .NavContainer .Navbar a{
        font-family: "Inter";
        color: black;
    }
    /* .MyNav .NavLinks .NavContainer .Navbar div:hover{
        background-color: silver;
        border-radius: 10px;
    } */
    .childSerSmallScreen{
        padding-left: 10%;
        text-align: left;
    } 
    a{
        text-align: left;
    }
    .navbar div Button{
        display: flex !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }

    .klmnop:hover{
        background-color: silver !important;
        border-radius: 10px;
    }


    .linkChildFOntSize{
        font-size: 0.8rem;
    }

    .Navbar div Button:hover{
        display: flex !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        width: 100% !important;
        background-color: silver !important;
        border-radius: 10px !important;
    }

}

@media (max-width: 900px) and (min-width:600px){
    .MyNav .NavLinks .NavContainer{
        width: 35%;
    }
}
@media (max-width: 600px){
    .logow{
       
        display: flex;
        width: 50%;

    }
 
}
@media (max-width: 600px)
{
    .logow{
       
        display: flex;
        width: 50%;

    }
    .MyNav .NavLinks .NavContainer{
        width:80%;
    }
}
