.footerMain{
    margin-top: 2%;
    width: 100%;
    background: linear-gradient(to right, #00093c, #2d0b00);
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.fotRow{
    color: #fff;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    
}
.fotCol{
    color: #fff;
    flex-basis: 25%;
    justify-content: left;
    text-align: left;
    padding: 10px;
}

.fotCol:nth-child(2) .fotCol:nth-child(3){
    flex-basis: 15%;
    color: #fff;
}

.footerinfoLogo{
    color: #fff;
    width: 100px;
    margin-bottom: 30px;
    border-radius: 150%;
}

.fotCol h3{
    color: #fff;
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.fotCol p{
    color: white;
    font-family: 'Inter';
}
.email-id{
    color: #fff;
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0px;
}

.footUl li{
    list-style: none;
    margin-bottom: 12px;
    color: #fff;

}
.footUl li a{
    font-family: 'Inter';
    text-decoration: none;
    color: #fff;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

.footUl li a:hover{
    font-family: 'Inter';
    text-decoration: none;
    color: var(--cream);
    border-bottom:1px solid var(--cream);
}

.footForm{
    color: #fff;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.ev{
    font-size: 18px;
    margin-right: 10px;
}
.footForm input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border:0;
    outline: none;
    margin-left: 8px;
}
.footForm button{
    color: #fff;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;

}
.arrow{
    font-size: 16px;
    color: #ccc;
}

.hr{
    color: #fff;
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copy{
    color: #fff;
    text-align: center;
}

.underline{
    color: #fff;
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    margin-top: 5px;
    top: 30px;
    left: 0;
    overflow: hidden;
}
.underline span{
    color: #fff;
    width: 15px;
    height: 100%;
    background:#fff;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

.fotSocialmedia{

    padding: 4px;
    display: flex;
    gap: 12px;
    float: left;
    color: black;
    padding-right: 20px;
}
@keyframes moving{
    0%{
        left: -20px;

    }
    100%{
        left: 100%;
    }
    
}
@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
        text-align: left;
        
    }
    
    .col:nth-child(2) .col:nth-child(3){
        flex-basis: 100%;
    }
}
@media (min-width:350px) and (max-width: 860px){
    .underline{
        color: #767676;
        width:50%;
        height: 5px;
        background: #767676;
        border-radius: 3px;
        position: absolute;
        margin-top: 5px;
        top: 30px;
        left: 0;
        overflow: hidden;
    }
    .underline span{
        display: none;
        color: #767676;
        width: 15px;
        height: 100%;
        background:#fff;
        position: absolute;
        top: 0;
        left: 10px;
        animation: movings 2s linear infinite;
    }
    .fotCol h3{
        color: #fff;
        width:200px;
        margin-bottom: 40px;
        position: relative;
    }
    .fotCol h4{
        font-size: 20px;
        font-weight: 400;
    }
}
