.serHero{
    position: relative;
    width: 100vw;
    height: 35vh;
    margin-top: -2%;  
    display: grid;
}

.serSide{
    background: linear-gradient(to left, rgb(53, 53, 53) , transparent) left center/50% no-repeat, linear-gradient(to right, rgb(52, 51, 51) , transparent) right center/51% no-repeat;
    height: 35vh;
    width: 100vw;
}

.serPos{
    display: grid;
    place-items: center;
    top:50%;
    transform: translateY(-50%);
}

.serPos p{
    color: white;
    font-size: 32px;
    font-weight: 800;
    font-family: 'DM Sans', sans-serif;
}

.serPos p:nth-child(1){
    border-bottom: 1px solid gray;
}

.serType span{
    font-size: 34px;
    font-weight: 500;
    /* color: var(--blue); */
    color: red;
    font-family: 'Montserrat';
}

.serType .wideRange{
    margin-top: 5%;
    margin-bottom: -0.5%;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat';
    letter-spacing: 1.25px;
}

.serSideBar{
    padding: 3% 1%;
    right: 2%;
    overflow: auto;
}

.serSideBar p:nth-child(1){
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 500;
}

.serfirstSidePar{
    margin: 5% 7%;
}

.serfirstSide{
    margin-left: 1%;
    border-right: 3px solid rgba(211, 211, 211, 0.2);
}

.serfirstSide:nth-child(4){
    margin-left: 1%;
    border-right: 0px;
}

.serfirstSide p:nth-child(1){
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-align: left;
    font-family: 'Inter';
    color:rgba(110, 110, 110, 0.11);
    margin-bottom: -15%;
}

.serfirstSide p:nth-child(2){
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-align: left;
    font-family: 'Inter';
}

.serfirstSide p:nth-child(3){
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.6px;
    text-align: left;
    font-family: 'Inter';
}



.serLabel{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Inter';
    align-self: left;
}

.otherServicesTitle{
    font-weight: 550;
    font-family: 'Inter';
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2%;
}

.serServices{
    display:inline-table;
    width: 12%;
    align-self: flex-start;
    margin: 1%;
}
.serServices:hover{
    text-decoration: underline;
    scale: 1.1;
}
.servicesExtraimg{
    height: 10%;
    width: 40%;
}
.serviceExtraLink:hover{
    scale: 200%;
    text-decoration: solid;
}

.serAiFill{
    margin-right: 10px;
    margin-bottom: -4px;
}

.serMotoDesign{
    font-family: 'Rochester' !important;
    font-style: italic;
    font-weight: 200 !important;
    font-size: 28px !important;
}

.SerwhatweofferP{
    text-align: left;
    font-size: 1.20rem;
    font-family: 'Inter';
    text-transform: capitalize;
    /* font-style: italic; */
    letter-spacing: 0.5px;
    line-height: 1.9rem;
    font-weight: 400;
}

.serHIghlightsTitle{
    font-size: 2rem;
    font-family: 'Eczar', serif;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.serStartRightSide{
    display: flex;
    align-items: center;
}


